{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block body %}
<div id="index">
    <div id="map-canvas"></div>
    <div id="places">
        <label for="placesIcon" class="glyphicon glyphicon-map-marker"></label>
        <input type="checkbox" class="hicon" id="placesIcon">
        <div class="hiconTarget panel panel-default">
            <div class="panel-heading">Search Places</div>
            <label>
                Hotels
                <select></select><button>X</button>
            </label>
            <label>
                Restaurants
                <select></select><button>X</button>
            </label>
            <label>
                Things To Do
                <select></select><button>X</button>
            </label>
        </div>
    </div>
    <div id="days">
        <label for="daysIcon" class="glyphicon glyphicon-calendar"></label>
        <input type="checkbox" class="hicon" id="daysIcon">
        <div class="hiconTarget panel panel-default">
            <div class="panel-heading">Itinerary</div>
            Day 2

            <ol>
                <li><a href="/contact">1</a></li>
                <li><a href="/contact">2</a></li>
                <li><a href="/contact">3</a></li>
                <li><a href="/contact">+</a></li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}
